@import "../css/bootstrap.css";
@import "../css/reset.css";
@import "../css/idangerous.swiper.css";
@import "../css/idangerous.swiper.scrollbar.css";
@import "../css/animate.css";
@import "../css/owl.theme.css";
@import "../css/owl.transitions.css";
@import "../css/owl.carousel.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family:'Open Sans',Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:;
  color:#fff;
  min-width:960px;
  background:#06245e;
  -webkit-text-size-adjust: none;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.conteiner1{
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
/*----------------------> Links And buttons <------------------*/

a {
  color:#;
  outline:none;
  text-decoration:underline;
  cursor:pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{
  color: #;
  text-decoration:none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.link1{
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 25px 4px 11px;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  background: #f8660c url(../images/link_img.png) right 0 no-repeat;
}
.link1:hover{
  color: #fff;
  background-color: #3c599b;
}
.link_download{
  display: inline-block;
  font-size: 12px;
  margin-top: 15px;
  line-height: 18px;
  color: #323232;
  border: 1px solid #ededed;
  background-color: #fff;
  text-decoration: none;
  padding: 13px 13px 10px 26px;
}
.link_download:hover{
  color: #323232;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.link_download strong{
  display: block;
  font-weight: 700;
  font-size: 14px;
}
.button{
  display:inline-block;
  border: 1px solid #fff;
  padding:0 20px 0 11px;
  font: 700 12px/20px Arial,sans-serif;
  color:#fff;
  text-decoration: none;
  background: url(../images/button_bg.png) right 0 no-repeat;
 }
.button:hover{
  color: #fff;
  opacity: 0.7;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.al_justify {text-align:justify;}

.it{font-style:italic;}
.let{letter-spacing:-1px;}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}
.bg_white{ background:#fff;}
.bg_white1{ background:#f6f7fa;}
.bg_blue{background-color: #3b5dac;}
.bg_blue1{background-color: #395aa9;}


.color_blue{color: #2f57ad;}
.color_wight{color: #fff;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}
.d_none{display: none;}

/*----------------------> Basic Colors <------------------*/

/*=====================> indents ========================*/

/*top*/
.mt75{margin-top: 75px;}
.mt85{margin-top: 85px;}

.pt50{padding-top: 50px;}

/*bottom*/
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb45{margin-bottom: 45px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb75{margin-bottom: 75px;}
.mb80{margin-bottom: 80px;}
/*left*/

.ml_13{margin-left: -13px;}
.ml_7{margin-left: -7px;}

.ml17{margin-left: 17px;}
.ml20{margin-left: 20px;}
.ml140{margin-left: 140px;}

.pl17{padding-left: 17px;}
.pl30{padding-left: 30px;}
/*right*/

.mr_13{margin-right: -13px;}
.mr_7{margin-right: -7px;}

.mr17{margin-right: 17px;}
.pr25{padding-right: 25px;}
/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 20px;
  line-height: 20px;
  color:#3c599b;
  font-weight: 400;
  padding-top: 12px;
  text-transform: uppercase;
}
.title1 strong{
  font-weight: 400;
  font-size: 14px;
  color: #3c599b;
}

.title2{
  font-size: 25px;
  line-height: 31px;
  font-weight: 700;
  text-transform: uppercase;
}
.title3{
  font-size: 30px;
  line-height: 31px;
  color: #2f57ad;
  font-weight: 600;
  padding-bottom: 20px;
}
.title4{
  font-size: 25px;
  line-height: 31px;
  color: #f5f4f4;
  font-weight: 700;
  text-transform: uppercase;
}
.title5{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/*======================> Header <======================*/

header {
  background-color: #fff;
  position: fixed;
  left: 118px;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 101;
  border-bottom: 1px solid #f3f5f8;
}
.logo{
  text-align: center;
  padding: 0 0 20px 0;
}
.logo a{
  display:inline-block;
  width:100px;
  height:19px;
  background:url(../images/logo.jpg) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.language_search_box{
  padding-top: 15px;
}

/*search*/
.search_box{width: 256px;}
.search_box input{
  width: 100%;
  color: #3c599b;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 31px 5px 10px;
  border: 1px solid #3c599b;
  border-radius: 4px;
}
.search_btn{
  display: block;
  top: 1px;
  right: 1px;
  width: 31px;
  height: 29px;
  border: none;
  outline: none;
  background: url(../images/search_btn.png) 0 0 no-repeat;
}

/*language*/

.language_box{
  border-right: 1px solid #3c599b;
  padding-right: 17px;
  margin-right: 13px;
  margin-top: 1px;
}
  .language_btn{
    display: block;
    width: 34px;
    height: 29px;
    background: #3c599b;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    padding-top: 2px;
    color: #fefefe;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 600;
  }
  .language_btn.active,
  .language_btn:hover{
    background-color: #f8660c;
  }
  .language_list{
    opacity: 0;
    visibility: hidden;
    top: 60px;
    left: -156px;
    background: #fff;
    border: 1px solid #ececec;
    width: 344px;
  }
  .language_list.active{
    opacity: 1;
    visibility: visible;
  }
  
  .language_list:before{
    width: 26px;
    height: 10px;
    display: block;
    content: "";
    position: absolute;
    top: -9px;
    left: 160px;
    background: url(../images/language_list_before.png) 0 0 no-repeat;
  }
  .language_list_item{
    position: relative;
    font-size: 14px;
    line-height: 26px;
    padding: 7px 0 8px 45px;
    border-bottom: 1px solid #ececec;
    color: #636363;
    cursor: pointer;
  }
  .language_list_item:before{
    top: 8px;
    left: 8px;
    content: attr(data-lan);
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ececec;
    color: #636363;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
  }
/*=====================> nav ========================*/
nav{
  position: fixed;
  width: 118px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  margin: 0px 0 0 0;
  padding: 20px 0 0;
  z-index: 101;
  box-shadow: 5px 0 16px rgba(0,0,0,0.11);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
nav.active{
  left: 258px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main_menu_it{
  position: relative;
  border-top: 1px solid #e8e8e8;
  overflow: hidden;
}
.main_menu_lk{
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 13.5px;
  color: #707070;
  text-align: center;
  padding: 0 11px;
  height: 72px;
  line-height: 72px;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.main_menu_lk:hover,
.current .main_menu_lk{
  color: #fff;
  background-color: #3c599b;
}
.sub_menu:hover + .main_menu_lk{
  color: #fff;
  background-color: #3c599b;
}
.main_menu_it:hover .sub_menu{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
}
.sub_menu{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #3c599b;
  width: 258px;
  top: 0;
  bottom: 0;
  left: -258px;
  padding: 120px 0 0 47px;
}
.active.bg_overlay{
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bg_overlay{
  background: url(../images/bg_overlay.png) 0 0 repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.sub_menu_lk{
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 35px;
  border-bottom: 1px solid transparent;
}
.sub_menu_lk:hover{
  color: #fff;
  border-bottom-color: #fff;
}
/*=====================> Content ========================*/
#content {padding:60px 0 0  118px;}
.container_box{overflow: hidden;}

/*=====================> section1 ========================*/

.section1{
  min-height: 420px;
  margin-bottom: 46px;
  -webkit-background-size: cover;
  background-size: cover;
}
.slider_box{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
  .section1_bottom{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    background: url(../images/section1_bottom.png) 0 0 repeat;
  }
  .bdr_white{
    border-right: 1px solid #c2c1c1;
  }
    .section1_bottom_right>div,
    .section1_bottom_left>div{
      display: inline-block;
    }
    .section1_bottom_box{
      padding-bottom: 34px;
    }
    .section1_bottom_center{
      width: 450px;
      padding-left: 90px;
      padding-right: 90px;
    }
    .section1_bottom_left{
      width: 360px;
      padding-right: 90px;
      padding-left: 0;
    }
    .section1_bottom_right{
      padding-left: 90px;
      padding-right: 0;
      width: 359px;
    }
    .section1_title{
      font-size: 14px;
      line-height: 20px;
      min-height: 40px;
      margin-bottom: 10px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    .section1_text{
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      margin-bottom: 25px;
      font-weight: 400;
      letter-spacing: -0.2px;
    }
    .section1_link{
      bottom: 0;
      width: 270px;
    }
    .section1_link:hover{
      color: #fff;
    }
    .link_img{
      position: relative;
    }
    .link_img:before{
      content: "";
      display: block;
      position: absolute;
      right: -40px;
      top: 12px;
      width: 27px;
      height: 27px;
      background: url(../images/link_img.jpg) 0 0 no-repeat;
    }
/*=====================> section2 ========================*/
 .section2{
  background-color: #4365a3;
  padding: 50px 0;
  margin-bottom: 50px;
 }
 .section2_text{
  padding-left: 65px;
  border-left: 1px solid #dee0e4;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  vertical-align: middle;
  opacity: 0.87;
  filter: alpha(opacity=87);
 }
 .section2_text p{
  padding-bottom: 10px;
  display: inline-block;
 }
 .section2_title{
  display: table-cell;
  font-size: 30px;
  line-height: 31px;
  font-weight: 600;
  letter-spacing: -0.5px;
  vertical-align: middle;
 }
/*=====================> section3 ========================*/
.section3{margin-bottom: 65px;}
.video_box>div{
  padding-bottom: 58%;
  height: inherit;
}
.video_box iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.play_video{
  outline: none;
  border: none;
  background: none;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  overflow: hidden;
}
.play_video:before{
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  margin-left: -37px;
  margin-top: -37px;
  width: 74px;
  height: 74px;
  z-index: 99;
  background: url(../images/play_video.png) 0 0 no-repeat;
}
.play_video.active{
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.play_video img{
  height: 100%;
}
.info_text{
  padding: 95px 30px 85px 60px;
}
  .info_text p{
    color: #2f57ad;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
.info_link_box{
  width: 250px;
  padding-bottom: 20px;
}
.info_link_download:before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -31px;
  width: 63px;
  height: 63px;
  background: url(../images/info_link_download.png) 0 0 no-repeat;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.info_link_download:hover:before{
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.info_link_box img{
  width: 100%;
}
.info_link_title_box{
  font: 12px/18px Arial,sans-serif;
  color: #323232;
  padding-left: 10px;
  letter-spacing: -0.5px;
  padding-top: 15px;
}
.info_link_title{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  display: block;
}

/*================================>> section4 <<========================================*/

.presents_offshore_box{
  margin-bottom: 65px;
  overflow: hidden;
}
.presents_offshore_box .swiper-container{overflow: visible;}
[class*="presents_offshore_it"]{
  width: 370px;
  margin-left: 30px;
  height: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="presents_offshore_it"] p{
  font: 12px/18px Arial,sans-serif;
  color: #636363;
}
.presents_offshore_it1 p{
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.presents_offshore_it1{
  padding: 25px 30px 25px 30px;
  margin-left: 0;
  background-color: #3b5dac;
}
  .presents_offshore_title{
    font-size: 30px;
    line-height: 31px;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  .presents_offshore_text_title{
    font-size: 17px;
    line-height: 21px;
    color: #2f57ad;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .presents_offshore_media{
    height: 267px;
    position: relative;
    overflow: hidden;
  }
    .presents_offshore_media iframe{
      height: 100%;
    }
    .presents_offshore_media img{
      width: 100%;
      -webkit-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
    }
    .presents_offshore_media:hover img{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }
    .presents_link{width: 256px;margin-top: 15px;}
  .presents_offshore_text{
    padding: 25px 34px 12px 28px;
    letter-spacing: -0.5px;
  }
  .swiper-wrapper{
    height: auto !important;
    padding-bottom: 20px;
  }
  .swiper-scrollbar_box{
    background-color: #2b4993;
    height: 66px;
    overflow: hidden;
  }
  .swiper-scrollbar{
    height: 4px;
    margin: 30px 71px 0;
    background: rgb(81,103,155); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(81,103,155,1) 0%, rgba(101,127,192,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,103,155,1)), color-stop(100%,rgba(101,127,192,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(81,103,155,1) 0%,rgba(101,127,192,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(81,103,155,1) 0%,rgba(101,127,192,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(81,103,155,1) 0%,rgba(101,127,192,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(81,103,155,1) 0%,rgba(101,127,192,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51679b', endColorstr='#657fc0',GradientType=0 ); /* IE6-9 */
  }
  .arrow-left,
  .arrow-right{
    display: block;
    position: absolute;
    bottom: 5px;
    width: 35px;
    height: 51px;
    left: 0;
    z-index: 9;
    border-right: 1px solid #f3f4f9;
    
  }
  .arrow-left:before,
  .arrow-right:before{
    position: absolute;
    display: block;
    content: "";
    width: 34px;
    height: 51px;
    background: url(../images/jspArrow.png) 10px center no-repeat;
  }
  .arrow-left:hover:before,
  .arrow-right:hover:before{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .arrow-right{
    border: none;
    border-left: 1px solid #f3f4f9;
    right: 0;
    left: inherit;
  }
  .arrow-right:before{
    background-position: -28px center;
  }
  .swiper-scrollbar-drag{
    background:url(../images/jspDrag.png) center center no-repeat;
    border: 1px solid #fcfcfc;
    height: 26px;
    top: -12px;
    border-radius: 2px;
    background: rgb(226,233,251); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,233,251,1) 0%, rgba(184,201,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,233,251,1)), color-stop(100%,rgba(184,201,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,233,251,1) 0%,rgba(184,201,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,233,251,1) 0%,rgba(184,201,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,233,251,1) 0%,rgba(184,201,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,233,251,1) 0%,rgba(184,201,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e9fb', endColorstr='#b8c9f5',GradientType=0 ); /* IE6-9 */
  }
  .presents_offshore_bottom_img.presents_offshore_it2{
    padding-bottom: 270px;
    position: relative;
  }
  .presents_offshore_bottom_img .presents_offshore_media{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  /*================================>> section4 <<========================================*/
  .section5_img{
    padding: 90px 0;
    background: url(../images/section5.jpg) fixed center 0 no-repeat;
  }
  .section5{
    margin-bottom: 75px;
  }
  .text1{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
  .text1 span{
    font-weight: 600;
    display: block;
    padding-bottom: 5px;
  }
  .global_presence_it{
    height: 421px;
  }
  .global_presence_it .global_presence_img img{
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }
  .global_presence_it:hover .global_presence_img img{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .global_presence_img{overflow: hidden;}
  
  .global_presence_big{
    height: 270px;
    width: 100%;
  }
  .global_presence_smoll{
    height: 141px;
    width: 100%;
  }
  .top0{top: 0;}
  .bottom0{bottom: 0;}
  .global_presence_numbers{
    width: 130px;
    height: inherit;
    text-align: center;
    background-color: #3f5da0;
  }
  .global_presence_numbers:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
  .numbers_box{
    vertical-align: middle;
    max-width: 137px;
    font-size: 22px;
    line-height: 31px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
  .numbers_it{
    font-size: 56px;
    line-height: 56px;
    color: #fff;
  }
  .numbers_it1{
    font-size: 34px;
    line-height: 34px;
    color: #fff;
  }
  .global_presence_numbers_description{
    padding: 15px 23px 15px 20px;
    background-color: #ececec;
    height: inherit;
    position: relative;
  }
  .coll_right .global_presence_numbers_description{
    padding: 15px 13px;
  }
  .global_presence_numbers_description:before{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left: -22px;
    background: url(../images/arrow1.png) 0 0 no-repeat;
  }
  .global_presence_numbers_title{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #636363;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
  }
  .global_presence_numbers_text{
    font-size: 12px;
    line-height: 18px;
    color: #636363;
  }
  .coll_right{width: 130px;}
  .coll_left{width: 240px;}
  .coll_right .global_presence_numbers_description{
    height: 130px;
  }
  .coll_right .global_presence_numbers{
    height: 130px;
    margin-bottom: 10px;
  }
  .numbers_it.fz42{font-size: 42px;}
  .coll_right .global_presence_numbers_description:before{
    top: -22px;
    margin-top: 0;
    left: 50%;
    margin-left: -15px;
    background: url(../images/arrow2.png) 0 0 no-repeat;
  }

/*markets*/

.markets_box{
  margin-bottom: 65px;
}
.markets_item{
  height: 315px;
  overflow: hidden;
}
.markets1_box .markets_item{
  height: 278px;
}
.markets_item_blue{padding: 30px 20px 10px 30px;}
  .markets_text p{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: -0.2px;
  }
  .markets_title{
    font-size: 30px;
    line-height: 31px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  }
    .markets_title hr{
      margin: 5px 0 0;
      width: 284px;
      border: none;
      border-bottom: 2px solid #fff;
    }
  .markets_tips_link{
    width: 30px;
    height: 30px;
    bottom: 19px;
    left: 10px;
    z-index: 9;
    background: url(../images/markets_tips_link_bg.png) 0 0 no-repeat;
  }
  .markets_tips_box{
    top: 20px;
    bottom: 20px;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  .markets_tips_box_bg{
    top: calc(100% - 20px);
    bottom: 20px;
    left: 20px;
    right: calc(100% - 20px);
    background-color: rgba(6,36,94,0.8);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .markets_item img{
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .markets_item:hover img{
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  .markets_item:hover .markets_tips_box{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .markets_item:hover .markets_tips_box_bg{
    top: 20px;
    right: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .markets_tips_box:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
  .markets_tips_text{
    display: inline-block;
    vertical-align: middle;
  }
  .markets_tips_title{
    display: block;
    margin-bottom: 15px;
    color: #fff;
    font: 900 14px/18px Arial,sans-serif;
  }
  .markets_tips_text_it{
    padding: 0 10%;
    display: block;
    font: 400 12px/18px Arial,sans-serif;
    color: #fff;
    margin-bottom: 18px;
  }

  /*main slider*/
  .rsArrow{
    opacity: 0;
    visibility: hidden;
    width: 28px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 108px;
    margin-top: -24px;
    cursor: pointer;
    background: url(../images/arrows_slider.png) 0 0 no-repeat;
  }
  #main_slider:hover .rsArrow{
    opacity: 1;
    visibility: visible;
  } 
  #main_slider:hover .rsArrow:hover{opacity: 0.6;}
  .rsArrowRight{
    left: inherit;
    right: 108px;
    background-position: right 0;
  }

/*>>>>>>>>>>>>>> about page <<<<<<<<<<<<<*/
.tabs_list{
  padding-top: 20px;
  padding-left: 12px;
  border-left: 2px groove #6b81b3;
}
  .tabs_list_item{
    font: 700 14px/19px Arial,sans-serif;
    padding: 6px 10px 6px 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c599b;
    cursor: pointer;
  }
  .tabs_list_item.current{
    border: 1px solid #3c599b;
  }

  .info1_img_box{
    display: inline-block;
    overflow: hidden;
    float: right;
  }
  .info1_img_left_box .info1_img_box{float: left;} 
  
  .info1_text_box{
    height: inherit;
    padding-left: 30px;
    padding-right: 20px;
  }
  .info1_text_box div{
    width: calc(100% - 4px);
    vertical-align: middle;
  }
  .info1_text_box:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
    .info1_title{
      font-size: 30px;
      line-height: 31px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .info1_text{
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }
  .text2{
    padding: 0 35px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: 400;
  }
  .markets1_title{
    margin: 0 25px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #a2a2a2;
    margin-bottom: 15px;
  }


/*tabs*/
.tabs_content{
  display: none;
}
.tabs_content.active{
  display: block;
}
#tabsList{
  position: fixed;
  width: 270px;
  top: 118px;
}
/*================================>> Footer <<========================================*/
footer {
  background-color: #3c599b;
  font-size: 13px;
  line-height: 18px;
  color: #f7f9fc;
  padding: 41px 0;
}